.wrapper_sidebar {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent black */
    backdrop-filter: blur(5px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    justify-content: flex-start;
  }
  
  .wrapper_sidebar.visible {
    display: flex;
  }
  
  .modal_sidebar {
    transition: opacity 300ms ease;
    z-index: 7; /* Ensure it's above sidebar */
  }
  
  .sidebar_sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    width: 50%; /* Sidebar width */
    max-width: 500px;
    transition: margin-right 300ms ease;
    margin-right: -50%; /* Initially hidden */
  }
  
  .sidebar_sidebar.sidebar-open {
    margin-right: 0; /* Sidebar opens */
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .sidebar_sidebar {
      width: 100%;
    }
  }
  