.errorsClass2 {
    color: red;
    font-size: 16px;
    font-weight: 400;
}

.errorsClass2_LunchBreak {
    color: red;
    font-size: 16px;
    font-weight: 400;
}


.sweet-alert .sa-button-container .cancel {
    border: 1px solid #ccc;
}
